@tailwind base;
@tailwind components;
@tailwind utilities;

@import '~jquery-ui/themes/base/all.css';
@import '~croppie/croppie.css';

header nav ul li.active {
    color: #0085ff;
    border-bottom: 1px solid;
}